body {
    margin: 0;
    padding: 20px;
}

#errorFname, #errorLname, #errorEmail,
#errorRadio, #errorCheckbox, #errorDropdown {
    color: red;
    font-size: 0.875em;
    margin-top: -0.625em;
    margin-bottom: 0.3125em;
    text-align: left;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px
        rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    margin-top: 1rem;
}

input {
    padding: 5px;
    box-sizing: border-box;
    margin: 1.2rem 0;
}